@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #FFF7ED;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.site-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    position: relative;
}

.home {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header {
    padding: 2.25rem 1.625rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #FFF7ED;
    position: relative;
}

.header>a {
    color: #4D4D4D;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1rem;
}

.header>a.logo {
    font-weight: 900;
    margin-right: auto;
    font-size: 1.625rem;
    color: black;
    text-decoration: none;
}

.header>a.logo:hover,
.header>a:hover,
.header>a.isActive {
    text-decoration: underline;
    color: black;
}

.header .menu-item a.isActive {
    text-decoration: underline;
    color: rgb(255, 255, 255);
    background-color: #115E59;
    border-color: #115E59;
}

.header>a.logo .vanlife-logo {
    width: 6.5rem;
    filter: brightness(0);
}


.sign-out {
    border: 2px solid #4D4D4D;
    border-radius: 0.3rem;
    background: none;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: #4D4D4D;
    cursor: pointer;
    text-transform: lowercase;
    transition: 0.2s;
}

.sign-out:hover,
.sign-out:active {
    border: 2px solid #000000;
    background-color: #000000;
    color: white;
}

.menu-item .sign-out {
    /* margin-top: 0.3rem; */
    width: 100%;
    border: none;
    font-weight: 500;
    color: rgb(149, 11, 11);
    letter-spacing: 1px;
}

.menu-item .sign-out:hover {
    border-radius: 0;
    background-color: transparent;
    color: rgb(255, 0, 0);
    text-decoration: underline;
}


.login-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 0.3rem;
    transition: 0.3s;
}

.login-icon {
    font-size: 1.2rem;
    color: #000000;
}

.login-link:hover,
.login-link.isActive {
    padding: 0.5rem;
    background-color: #000000;
}

.login-link:hover .login-icon,
.login-link.isActive .login-icon {
    color: white;
}

.menu-item .login-icon {
    color: rgb(0, 0, 0);
    font-size: 1.15rem;
}

.menu-item .login-link {
    border-radius: 0;
    background-color: rgb(243, 232, 232);
}

.menu-item .login-link:hover .login-icon {
    color: rgb(255, 255, 255);
}

.header .menu-item a.login-link.isActive {
    background-color: #000000;
}

.header .menu-item a.login-link.isActive .login-icon {
    color: white;
}

.menu {
    /* position: relative; */
    z-index: 1;
}



.cgMenu-icon {
    font-size: 1.7rem;
    cursor: pointer;
    /* position: relative; */
    animation: menu-anim 0.6s ease 0s 1;
    transition: 0.5s;
}

.cgMenu-icon:active {
    transform: scale(1, 0);
}

.aiClose-icon {
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: 0.5rem;
    color: #d02626;
    animation: close-anim 0.3s ease 0s 1;
    transition: 0.5s;
}

.aiClose-icon:active {
    transform: scale(1, 0);
}



.menu-dropdown {
    position: absolute;
    top: 5rem;
    right: 0rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(243, 232, 232);
    overflow: hidden;
}

.menu-item {
    text-align: center;
    width: 100%;
    cursor: pointer;
    transition: 0.1s;
}

.menu-item:last-child a {
    border: none;
}

.menu-item a {
    border-bottom: 2px solid rgb(199, 197, 197);
    padding: 0.5rem 0;
    display: block;
    text-decoration: none;
    color: #262525;
}

.menu-item:hover a {
    /* border-radius: 0.3rem; */
    /* background-color: #4D4D4D; */
    border-radius: 0;
    border-color: #32716d;
    background-color: #32716d;
    color: white;
}

.footer {
    background-color: #252525;
    color: #AAAAAA;
    height: 74px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    /* margin-top: auto; */
    font-weight: 500;
    gap: 1rem;
}

.footer img {
    display: inline-block;
    width: 5rem;
    filter: brightness(3);
}

.link-button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: none;
    padding: .75rem 1.375rem;
    color: initial;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .1s ease-in-out;
}

.link-button:active {
    transform: translate(0, 1px) scale(0.99);
}



.home-content {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.46)),
        url("./src/images/backgroundImg.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-color: #115E59;
    /* min-height: 350px; */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6rem 2rem;
}


.home-content h1 {
    font-size: 2.25rem;
    margin-bottom: 1.25rem;
    color: white;
}

.home-content p {
    font-weight: 500;
    font-size: 1rem;
    color: whitesmoke;
}

.home-content .btn {
    margin-top: 4rem;
    width: 100%;
    max-width: 700px;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 0.5rem;
    background-color: #FF8C38;
    color: white;
    cursor: pointer;
    outline: none;
    transition: 0.1s;
    box-shadow: 0 4px 10px rgba(46, 26, 4, 0.4);
    border: none;
}

.home-content .btn:active {
    transform: scale(0.99);
    box-shadow: none;
}

.home-content a.btn {
    text-decoration: none;
    text-align: center;
}







/* ========== about-content=============== */


.about-content {
    height: 100%;
    width: 100%;
}

.about-image-div {
    position: relative;
    background-color: #243c49;
    width: 100%;
    height: 350px;
    z-index: -1;
    filter: brightness(0.9);
}

.about-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    max-height: 350px;
    z-index: 1
}

.about-image-div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./src/images/aboutImg.svg');
    background-size: cover;
    background-position: top;
    filter: blur(5px);
    z-index: -1;
}


.about-content h1,
.about-content p,
.about-distination {
    margin: 2rem 1.625rem;
    max-width: 800px;
    /* margin-left: auto;
    margin-right: auto; */
}


.about-content h1 {
    font-weight: 700;
    font-size: 1.825rem;
    color: #161616;
}

.about-content p {
    font-size: 1rem;
}

.about-distination {
    padding: 3rem;
    background-color: #FFCC8D;
    border-radius: 0.5rem;
}

.about-distination h4 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.about-content a.btn {
    text-decoration: none;
    text-align: center;
    font-size: 0.95rem;
}

.about-content .btn {
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 0.625rem;
    background-color: #161616;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.about-content a.btn:hover {
    transform: scale(0.95);
}

/* ========== host: Dashboard and Income here  ================ */


.host-dashboard-earnings {
    margin: 2rem 0 0;
    background-color: #ffead0;
    padding: 37px 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.host-dashboard-earnings>.info>h1 {
    font-size: 36px;
    color: #161616;
    margin: 0;
}

.host-dashboard-earnings>.info>p {
    color: #4d4d4d;
}

.host-dashboard-earnings>.info>p>span {
    text-decoration: underline;
    font-weight: bold;
}

.host-dashboard-earnings>.info>h2 {
    margin: 0;
    font-size: 38px;
    color: #161616;
    font-weight: 900;
}

.host-dashboard-reviews {
    margin: 0.2rem 0 0;
    background-color: #ffddb2;
    padding: 25px 26px;
    display: flex;
    align-items: center;
}

.host-dashboard-reviews>h2 {
    margin: 0;
}

.host-dashboard-reviews .star {
    color: #ff8c38;
    margin-left: 15px;
    font-size: 25px;
}

.host-dashboard-reviews p {
    margin-left: 5px;
    font-size: 20px;
    color: #4d4d4d;
    margin-right: auto;
}

.host-dashboard-reviews p>span {
    font-weight: bold;
    color: #161616;
}

.host-dashboard-vans {
    padding: 38px 26px;
}

.host-dashboard-vans>.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.host-dashboard-vans .host-vans-list {
    padding-inline: 0;
}

.host-van-single .view {
    margin-right: 2rem;
    margin-left: auto;
}

.host-income {
    margin: 2rem 0;
    padding-inline: 26px;
    color: #161616;
}

.host-income>p {
    color: #4d4d4d;
}

.host-income>p span {
    text-decoration: underline;
    font-weight: bold;
}

.host-income>h2 {
    font-size: 38px;
    color: #161616;
    font-weight: 900;
}

.host-income p span,
.host-income p,
.host-income h2 {
    margin: 1rem 0;
}




/* VANS PAGES HERE */

.vans {
    padding-inline: 2rem;
    padding-bottom: 2rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    width: fit-content;
}

.vans button {
    margin-right: 20px;
    cursor: pointer;
}

.van-list-filter-buttons {
    margin-top: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 0;
}

.van-list-filter-buttons>a {
    margin-right: 1rem;
}

.vans-list {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    margin-top: 4rem;
}

.van {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 0.5rem;
    animation: popup-anim 0.5s ease-out 0ms 1;
}

.van a {
    text-decoration: none;
}

.van-image {
    max-width: 100%;
    border-radius: 0.5rem;
}

.van-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 1.25rem;
    color: #161616;
}

.van-info-price {
    display: flex;
    flex-direction: column;
}

.van-info-price-day {
    display: inline-block;
    text-align: right;
    font-weight: 500;
    font-size: 0.9rem;
    color: #161616;
}

.van-type {
    display: inline-block;
    display: flex;
    width: fit-content;
    /* align-self: end; */
    padding: 0.5rem 1.625rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    background-color: #FFEAD0;
    color: #4D4D4D;
    transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
    color: #FFEAD0;
}

.van-type:focus {
    outline: none;
}

.van-type.selected {
    color: #FFEAD0;
}

.van-type.simple:hover,
.van-type.simple.selected {
    background-color: #E17654;
}

.van-type.rugged:hover,
.van-type.rugged.selected {
    background-color: #115E59;
}

.van-type.luxury:hover,
.van-type.luxury.selected {
    background-color: #161616;
}

.van-type.clear-filters {
    margin-left: -20px;
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    text-decoration: underline;
    background-color: transparent;
    color: #4D4D4D;
}

i[class*='van-type-'] {
    padding: 7px 14px;
}




/*  ================ VAN DETAIL PAGE ================  */

.van-detail-container {
    padding: 27px;
}

.van-detail-container .back-button {
    color: black;
    text-decoration: none;
}

.van-detail-container .back-button span {
    text-decoration: underline;
}

.van-detail {
    display: flex;
    flex-direction: column;
    color: #161616;
}

.van-detail img {
    border-radius: 5px;
    margin-block: 47px;
}

.van-detail h2 {
    font-size: 2rem;
    margin: 1rem 0;
}

.van-detail>i {
    align-self: flex-start;
}

.van-detail .van-price {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.van-detail .van-price span {
    font-weight: 700;
    font-size: 1.5rem;
}

.van-detail p {
    font-size: 1rem;
    font-weight: 500;
}

.van-detail .link-button {
    background-color: #FF8C38;
    color: white;
    font-size: 1.125rem;
    margin-top: 2rem;
}

/* ============ Host Pages  ================== */
.host-nav {
    display: flex;
}

.host-nav a {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 500;
    padding: 0.3rem 1.25rem;
    transition: all 0.1s;
}

.host-nav a:hover,
.host-nav a.isActive {
    color: #161616;
    text-decoration: underline;
    transform: scale(1.05);
}

.host-nav a:hover {
    color: #161616;
    text-decoration: underline;
    font-weight: 600;
}

.host-van-link-wrapper {
    color: unset;
    text-decoration: unset;
    /* overflow: hidden; */
}

.host-vans-list {
    padding-inline: 26px;
    overflow: hidden;
}

.host-vans-title {
    padding-inline: 26px;
    margin: 1rem 0;
}

.host-van-single {
    display: flex;
    align-items: center;
    background-color: white;
    margin-bottom: 15px;
    padding-block: 18px;
    padding-left: 24px;
    animation: slide-anim 0.5s ease-out 0ms 1;
}

.host-van-single>img {
    height: 70px;
    border-radius: 5px;
    margin-right: 17px;
}

.host-van-info h3 {
    font-size: 20px;
    font-weight: 600;
    margin-block: 10px;
}

.host-van-info p {
    margin-block: 10px;
}


.host-van-detail-layout-container {
    background-color: white;
    padding: 24px;
    margin: 30px 26px;
}

.host-van-detail {
    display: flex;
    align-items: center;
}

.host-van-detail>img {
    height: 160px;
    border-radius: 5px;
    margin-right: 20px;
}

.host-van-detail-info-text>h3 {
    margin-top: 24px;
    margin-bottom: 5px;
    font-size: 26px;
    font-weight: 700;
}

.host-van-detail-info-text>h4 {
    font-size: 20px;
    margin-block: 0;
}

.back-button {
    display: block;
    color: black;
    text-decoration: none;
    margin-top: 60px;
    margin-left: 26px;
}

.back-button span:hover {
    text-decoration: underline;
}


.host-van-detail-nav {
    display: flex;
    margin-block: 25px;
}

.host-van-detail-nav a {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 500;
    padding: 5px 20px;
}

.host-van-detail-nav a:first-of-type {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 500;
    padding: 5px 15px;
    margin-left: -15px;
}

.host-van-detail-nav a:hover,
.host-van-detail-nav a.isActive {
    color: #161616;
    text-decoration: underline;
    font-weight: 700;
}

.host-van-detail-info {
    display: flex;
    flex-direction: column;
}

.host-van-detail-info h3 {
    font-size: 1.05rem;
    margin-bottom: 0.8rem;
}

.host-van-detail-info span {
    font-weight: 500;
    font-size: 1rem;
    color: #201e1e;
    margin-left: 0.2rem;
}

.host-van-detail-pricing {
    color: #161616;
    font-weight: 500;
}

.host-van-detail-pricing span {
    font-size: 1rem;
    font-weight: 500;
    color: #4D4D4D;
}

.host-van-detail-photo {
    width: 120px;
    /* border-radius: 0.5rem; */
}

.host-van-detail-photo img {
    border-radius: 0.5rem;
    width: 100%;
    transition: 1s;
}

/* ==============  host review here  =================== */


img.graph {
    width: 100%;
    max-width: 500px;
}

.host-income .info-header>p {
    color: #4d4d4d;
}

.host-income .info-header>p span {
    text-decoration: underline;
    font-weight: bold;
}

.host-income .info-header>h3 {
    font-weight: 700;
    font-size: 24px;
    margin-top: 60px;
}

.host-income .transaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-bottom: 31px;
    padding: 35px 29px;
    border-radius: 6px;
}

.host-income .transaction>h3 {
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
}

.host-income .transaction>p {
    font-weight: 500;
    font-size: 20px;
    color: #4d4d4d;
}

.host-reviews {
    margin: 2rem 0;
    padding-inline: 26px;
    color: #161616;
}

.host-reviews .top-text {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.host-reviews .top-text>h2 {
    font-weight: 700;
    font-size: 32px;
    margin: 0;
    margin-right: 20px;
}

.host-reviews .top-text>p {
    margin: 0;
    color: #4d4d4d;
}

.host-reviews .top-text>p span {
    text-decoration: underline;
    font-weight: bold;
}

.host-reviews>img {
    margin-bottom: 36px;
}

.host-reviews .review {
    margin-block: 25px;
}

.host-reviews .review .info {
    display: flex;
}

.host-reviews .review .name {
    color: #161616;
    margin-right: 10px;
    font-weight: 600;
}

.host-reviews .review .date {
    color: #8c8c8c;
}

.host-reviews hr {
    background-color: #c7c7c7;
    height: 1px;
    border: 0;
}

.host-reviews .review-star {
    color: #ff8c38;
    margin-right: 5px;
}








.not-found-container {
    margin-top: 4rem;
    padding-inline: 26px;
}

.not-found-container svg {
    width: 8rem;
    display: block;
    margin: 0 auto;
}


.not-found-container .link-button {
    margin-top: 2rem;
    width: 100%;
    background-color: #161616;
    color: white;
}

.login-container p {
    margin-top: 0.5rem;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 27px;
    gap: 1.5rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
}

.login-form>input {
    border: 1px solid rgba(209, 213, 219);
    height: 40px;
    text-indent: 10px;
    font-family: "Inter", sans-serif;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    font-weight: 400;
}

.login-form>input:focus {
    outline: none;
}

.login-form>input:first-of-type {
    border-radius: 6px 6px 0px 0px;
}

.login-form>input:last-of-type {
    border-radius: 0px 0px 6px 6px;
    border-top: none;
}

.login-form>button {
    background-color: #FF8C38;
    border: none;
    border-radius: 6px;
    height: 55px;
    margin-top: 22px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    letter-spacing: 0.8px;
    cursor: pointer;
}

.login-form>button:disabled {
    background-color: #f8a66b;
    cursor: default;
}

.login-first {
    font-family: sans-serif;
    text-transform: capitalize;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: -1px;
    color: rgb(242, 75, 29);
    background-color: rgba(242, 75, 29, 0.03);
    padding: 0.3rem 1rem;
    border: 1px solid rgb(242, 75, 29);
    border-radius: 0.3rem;
    animation: popup 0.5s ease-out 0ms 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}








@media (min-width: 850px) {

    .about-content h1,
    .about-content p,
    .about-distination {
        margin-left: auto;
        margin-right: auto;
    }

}




@media (max-width: 430px) {

    html,
    body {
        font-size: 14px;
    }

    .home-content {
        padding: 1rem;
    }

    .home-content h1 {
        font-size: 1.8rem;
    }

    .home-content p {
        font-weight: 300;
    }

    .about-image-div {
        max-height: 200px;
    }

    .about-content h1 {
        font-size: 1.25rem;
    }

    .about-distination {
        padding: 2rem 1rem;
    }

    .about-distination h4 {
        font-size: 1rem;
    }

    .vans-list {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .vans-list div span {
        font-size: 1.1rem;
    }

    .host-van-info h3 {
        font-size: 1rem;
    }

    .host-van-info p {
        font-size: 0.9rem;
    }

    .host-nav a:first-child {
        padding-left: 1.25rem;
    }

    .host-nav a {
        padding-inline: 0.5rem;
    }

    .host-income .transaction {
        padding: 1rem;
    }

    .host-income .transaction>h3 {
        font-size: 1.5rem;
    }

    .host-income .transaction>p {
        font-size: 1rem;
    }

    .host-van-detail {
        display: flex;
        flex-direction: column;
    }

    .host-van-detail-info-text {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        gap: 0.3rem;
        margin-right: auto;
    }

    .host-van-detail-info-text>h3 {
        margin: 0;
        font-size: 1rem;
        font-weight: 700;
    }

    .host-van-detail-info-text>h4 {
        font-size: 0.9rem;
        margin-block: 0;
        font-weight: 400;
    }

    .host-van-detail-info-text .van-type {
        font-size: 0.9rem;
        margin-block: 0;
    }

    .host-van-detail-info h3 {
        font-size: 1rem;
    }

    .host-van-detail-info span {
        font-size: 0.8rem;
    }
}

@media (max-width: 300px) {

    html,
    body {
        font-size: 12px;
    }

    .host-nav a {
        font-size: 0.8rem;
        padding-inline: 0.3rem;
    }

    .host-van-info h3 {
        font-size: 0.8rem;
    }

    .host-van-info p {
        font-size: 0.7rem;
    }

    .host-van-single {
        padding: 0.3rem;
    }

    .host-van-single .view {
        margin: 0 0 1rem;
        margin-left: auto;
        padding-left: 1rem;
    }

    .host-income .transaction>h3 {
        font-size: 1.25rem;
    }

    .host-income .transaction>p {
        font-size: 1rem;
    }

    .host-van-detail-info-text>h3 {
        font-size: 0.8rem;
    }

    .host-van-detail-info-text>h4 {
        display: flex;
        font-size: 0.7rem;
        font-weight: 400;
    }

    .host-van-detail-info-text .van-type {
        font-size: 0.7rem;
        margin-block: 0;
    }
}

@media (max-width: 700px) {

    html {
        font-size: 15px;
    }

    .about-image-div {
        max-height: 250px;
    }

    .about-content h1 {
        font-size: 1.25rem;
    }

    .about-distination {
        padding: 2rem 1rem;
    }

    .about-distination h4 {
        font-size: 1rem;
    }

    .vans h1 {
        font-size: 1.25rem;
    }

    .vans span {
        font-size: 1.2rem;
    }
}



/* ======= Sliding Animation ======= */


@keyframes slide-anim {
    from {
        opacity: 0;
        transform: translate(50rem);
        overflow: hidden;
    }

    to {
        opacity: 1;
        transform: translate(0rem);
        overflow: hidden;
    }
}

/* ======= Pop-Up Animation ======= */


@keyframes popup {
    0% {
        opacity: 0.4;
        transform: scale(0.6);
    }

    60% {
        opacity: 1;
        transform: scale(1.1);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}


@keyframes popup-anim {
    from {
        opacity: 0.4;
        transform: scale(0) translateX(-50rem) rotate(90deg);
    }

    to {
        opacity: 1;
        transform: scale(1) translateX(0);
    }
}



@keyframes close-anim {
    from {
        transform: rotate(-45deg);
    }

    tp {
        transform: rotate(0);
    }

}

@keyframes menu-anim {
    from {
        transform: scale(1, 0.5);
    }

    tp {
        transform: scale(1);
    }

}



/* ========= Loading Animation Styles   =========== */

/* generated by https://loading.io/ */



@keyframes ldio-x83vl2ddbpc {
    0% {
        top: 42px;
        left: 42px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 13px;
        left: 13px;
        width: 58px;
        height: 58px;
        opacity: 0;
    }
}

.loading-anim {
    width: fit-content;
    height: fit-content;
    margin: 6rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-anim,
.loadingio-spinner-ripple-plx7powrltc {
    transform: scale(2);
}

.ldio-x83vl2ddbpc div {
    position: absolute;
    border-width: 5px;
    border-style: solid;
    opacity: 1;
    border-radius: 50%;
    animation: ldio-x83vl2ddbpc 1.3s ease-out infinite;

}

.ldio-x83vl2ddbpc div:nth-child(1) {
    border-color: #ff9f00;
    animation-delay: 0s;
}

.ldio-x83vl2ddbpc div:nth-child(2) {
    border-color: #ffdf00;
    animation-delay: -0.7692307692307692s;
}

.loadingio-spinner-ripple-plx7powrltc {
    width: 50px;
    height: 50px;
    display: inline-block;
    overflow: hidden;
}

.ldio-x83vl2ddbpc {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.5);
    backface-visibility: hidden;
    transform-origin: 0 0;
    /* see note above */
}

.ldio-x83vl2ddbpc div {
    box-sizing: content-box;
}